.stack__logo {
  padding: 33px 10px 0px 9px;
}
.nav__container {
  margin-top: 70px;
}
.menu {
  display: flex;
  color: var(--bastilla);
  line-height: 3.4;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.menu:hover {
  opacity: 0.6;
}
.menu:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 5px;
  height: 37px;
  width: 8px;
  border-radius: 50px;
  left: -3px;
  background: transparent;
}

.menu.active {
  color: var(--violet-menu);
}
.menu.active:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 5px;
  height: 37px;
  width: 8px;
  border-radius: 50px;
  left: -3px;
  background: var(--orange);
}
.menu i svg.icon {
  fill: var(--bastilla);
  stroke: var(--bastilla);
  height: 20px;
  padding: 16px 3px 0px 5px;
}
.menu.active i svg.icon {
  fill: var(--orange);
  stroke: var(--orange);
}

@media only screen and (max-width: 1224px) {
  /* Styles */
  .stack__mobile {
    display: flex;
  }
  .stack__logo {
    padding: 15px 0px 0px 25px;
  }
  .nav__container {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
  }
  .menu {
    display: inline-flex;
  }
  .menu.active:before {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  /* Styles */
  .stack__logo svg {
    width: 100px;
  }
  .nav__text {
    display: none;
  }
  .nav__container {
    margin-left: auto;
    margin-top: 0px;
    margin-right: 20px;
    display: inline-flex;
  }
  .stack__logo {
    padding: 0px 0px 0px 11px;
    margin-top: -5px;
  }
}

/* 

.header {
  background: var(--white);
  color: var(--bastilla);
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  padding-left: 1rem;
}

.header img {
  height: var(--logo-font-size);
}

.logo,
.logo a {
  padding: 0;
  font-size: var(--logo-font-size);
}

.header a {
  color: var(--bastilla);
  text-decoration: none;
}

.banner div a:hover {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: block;
  color: var(--bastilla);
  position: absolute;
  top: 5px;
  right: 30px;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.menu li {
  border-top: 1px solid #fff;
  width: 100%;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1024px) {
  :root {
    --logo-font-size: 2rem;
  }

  .banner {
    position: relative;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    right: 2rem;
    width: auto;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .menu li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    border: 0px;
    font-size: 1rem;
  }
} */
