@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --orange: #e15e46;
  --red: #d0422c;
  --green: #0abf5e;
  --blue-moon: #edf0f9;
  --castkill-white: #eff2fa;
  --comparationbg: #fafafa;
  --torea: #383874;
  --bastilla: #2d2e32;
  --violet: #5757b2;
  --violet-menu: #383874;
  --gray: #ddd;
  --white: #fff;
  --parag: 1em;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--parag);
  color: var(--bastilla);
  margin: 0;
  padding: 0;
  background: #fff;
  height: 100%;
  min-height: 100%;
  word-break: break-word;
  -webkit-word-break: break-word;
}
a {
  color: var(--torea);
}
::selection {
  background: var(--violet); /* WebKit/Blink Browsers */
  color: var(--blue-moon);
}
::-moz-selection {
  background: var(--violet); /* Gecko Browsers */
  color: var(--blue-moon);
}

.hide {
  display: none;
}
.show {
  display: block;
}

#sidebarClose {
  width: 148px !important;
  position: relative;
  top: 142px;
  left: -42px;
  transform: rotateZ(-90deg);
}

.fullscreenbtn {
  cursor: pointer;
  left: 9.1%;
  width: 30px;
  height: 30px;
  background: #eff2fa;
  display: block;
  float: right;
  top: 5%;
  position: absolute;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.fullscreenbtn:hover {
  background: #5757b2;
  box-shadow: 0 0 3px #00000063;
}
.fullscreenbtn.closed {
  left: 3.2%;
}
.fullscreenbtn svg.fullscreenIcon {
  width: 15px;
  height: 19px;
  padding: 5px 3px 5px 6px;
  fill: #5757b2;
  transform: rotateZ(0deg);
  transition: all 0.3s ease-in-out;
}
.fullscreenbtn:hover svg.fullscreenIcon {
  fill: #cdcdec;
}

.fullscreenbtn.closed svg.fullscreenIcon {
  width: 15px;
  height: 19px;
  padding: 5px 8px 5px 6px;
  fill: #cdcdec;
  transform: rotateZ(180deg);
}

.fullscreenbtn.closed:hover svg.fullscreenIcon {
  fill: #cdcdec;
}

@media only screen and (min-width: 1224px) {
  .sidebar__desktop {
    display: block;
  }
  .sidebar__mobile {
    display: none;
  }
  .global__wrapper.open {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    overflow: hidden;
  }

  .global__wrapper.open .grid__sidebar {
    grid-area: 1 / 1 / 2 / 2;
  }
  .global__wrapper.open .grid__container {
    grid-area: 1 / 2 / 2 / 3;
    background: var(--castkill-white);
    padding: 9px 10px;
    border-radius: 50px 0px 0px 0px;
    width: calc(100vw - 170px);
  }
  .global__wrapper.closed {
    display: grid;
    grid-template-columns: 4% 96%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    overflow: hidden;
  }
  .global__wrapper.closed .grid__sidebar {
    grid-area: 1 / 1 / 2 / 2;
  }
  .global__wrapper.closed .grid__container {
    grid-area: 1 / 2 / 2 / 3;
    background: var(--castkill-white);
    padding: 9px 10px;
    border-radius: 50px 0px 0px 0px;
    width: calc(100vw - 87px);
  }
}

@media only screen and (max-width: 1224px) {
  /* Styles */
  .sidebar__desktop {
    display: none;
  }
  .sidebar__mobile {
    display: block;
  }
  .global__wrapper {
    display: grid;
    grid-template-columns: 96%;
    grid-template-rows: 11% auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    overflow: auto;
  }
  .grid__sidebar {
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid__container {
    grid-area: 2 / 1 / 3 / 2;
    background: var(--castkill-white);
    padding: 10px 20px;
    border-radius: 50px 0px 0px 0px;
    width: 100%;
  }
}

.about__section {
  padding: 10px;
}

@media only screen and (max-width: 960px) {
  /* Styles */
  .sidebar__desktop {
    display: none;
  }
  .sidebar__mobile {
    display: block;
  }
  .global__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 6% auto;
  }
  .grid__container {
    padding: 0px 0px;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 960px) and (orientation: landscape) {
  .global__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 11% auto;
  }
}
